{% extends 'layouts/base.html' %}

{% block extrastyle %}
	<!-- jstree css -->
	<link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/plugins/vanillatree.css')}}">
{% endblock extrastyle %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="row">
		<!-- [ daily sales section ] start -->
		<div class="col-md-6 col-xl-4">
			<div class="card">
				<div class="card-block">
					<h6 class="mb-4">Servers</h6>
					<div class="row d-flex align-items-center">
						<div class="col-9">
							<h3 class="f-w-300 d-flex align-items-center m-b-0">
								<i id="server-status-icon" class="feather icon-arrow-down text-c-red m-r-5"></i>Ragnarok
								<div id="server-start-icon" class="i-block" data-clipboard-text="Start" data-bs-toggle="tooltip" data-filter="Start" title="" data-bs-original-title="Start" aria-label="Start" style="display: inline-flex;">
									<a href="http://{{server_host}}:{{server_port}}/hooks/ark-start-ragnarok" target="_blank"><i class="fas fa-play text-c-green m-l-20"></i></a></div>
								<div id="server-stop-icon" class="i-block" data-clipboard-text="Stop" data-bs-toggle="tooltip" data-filter="Stop" title="" data-bs-original-title="Stop" aria-label="Stop" style="display: none;">
									<a href="http://{{server_host}}:{{server_port}}/hooks/ark-stop-ragnarok" target="_blank"><i class="fas fa-stop text-c-red m-l-20"></i></a></div>
								<div id="server-backup-icon" class="i-block" data-clipboard-text="Backup" data-bs-toggle="tooltip" data-filter="Backup" title="" data-bs-original-title="Backup" aria-label="Backup" style="display: inline-flex;">
									<a href="http://{{server_host}}:{{server_port}}/hooks/ark-backup-ragnarok" target="_blank"><i class="fas fa-copy text-c-blue m-l-20"></i></a></div></h3>
						</div>

						<div class="col-3 text-end">
							<p id="server-status-text" class="badge rounded-pills bg-dark">Offline</p>
						</div>
					</div>
					<div class="progress m-t-30" style="height: 7px;">
						<div id="server-status-progress" class="progress-bar bg-dark" role="progressbar" style="width: 100%;"
							aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- [ daily sales section ] end -->

		<!-- [ treeview ] start -->
		<div class="col-xl-8 col-md-6">
			<div class="card">
				<div class="card-header">
					<h5>ARK Backup Files</h5>
				</div>
				<div class="card-block">
					<div id="tree-demo">
					</div>
					<p id="tree-msg"></p>
				</div>
			</div>
		</div>
		<!-- [ treeview ] end -->
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}
<!-- jstree Js -->
<script src="{{url_for('static', filename = 'assets/js/plugins/vanillatree.min.js')}}"></script>
<script src="{{url_for('static', filename = 'assets/js/pages/tree-backup-files.js')}}"></script>
<script type="text/javascript">
	let server_host = '{{ server_host }}';
	let server_port = '{{ server_port }}';

	let xhr = new XMLHttpRequest();

    // Making our connection
    let url = 'http://' + server_host + ':' + server_port + '/hooks/ark-servers?server=ragnarok&output=json';
    xhr.open("GET", url, true);

    // function execute after request is successful
    xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
			let server_status = JSON.parse(this.responseText);
			console.log(JSON.stringify(server_status, null, 4));

			if (server_status['Server online'] == 'Yes') {
				console.log('Server is online')
				document.getElementById('server-status-icon').classList.remove('icon-arrow-down');
				document.getElementById('server-status-icon').classList.add('icon-arrow-up');
				document.getElementById('server-status-icon').classList.remove('text-c-red');
				document.getElementById('server-status-icon').classList.add('text-c-green');

				document.getElementById('server-start-icon').style.display = 'none';
				document.getElementById('server-stop-icon').style.display = 'inline-flex';

				document.getElementById('server-status-text').innerHTML = 'Online';
				document.getElementById('server-status-text').classList.remove('bg-dark');
				document.getElementById('server-status-text').classList.add('bg-success');

				document.getElementById('server-status-progress').classList.remove('bg-dark');
				document.getElementById('server-status-progress').classList.add('progress-server-status');
				document.getElementById('server-status-progress').style.width = '100%';
				document.getElementById('server-status-progress').ariaValueNow = '100';
			} else if (server_status['Server running'] == 'Yes') {
				console.log('Server is running, but not online')
				document.getElementById('server-status-icon').className = 'spinner-grow m-r-5 text-warning';
				document.getElementById('server-status-icon').style.width = '1.5rem';
				document.getElementById('server-status-icon').style.height = '1.5rem';

				document.getElementById('server-start-icon').style.display = 'none';
				document.getElementById('server-stop-icon').style.display = 'inline-flex';

				document.getElementById('server-status-text').innerHTML = 'Starting';
				document.getElementById('server-status-text').className = 'badge rounded-pills bg-warning';

				document.getElementById('server-status-progress').className = 'progress-bar progress-server-status';
				document.getElementById('server-status-progress').style.width = '50%';
				document.getElementById('server-status-progress').ariaValueNow = '50';
			} else {
				console.log('Server is offline')
				document.getElementById('server-status-icon').className = 'feather icon-arrow-down text-c-red m-r-5';

				document.getElementById('server-start-icon').style.display = 'inline-flex';
				document.getElementById('server-stop-icon').style.display = 'none';

				document.getElementById('server-status-text').innerHTML = 'Offline';
				document.getElementById('server-status-text').className = 'badge rounded-pills bg-dark';

				document.getElementById('server-status-progress').className = 'progress-bar bg-dark';
			}
        }
    }
    // Sending our request
    xhr.send();

	const tree = new VanillaTree(main, {
		contextmenu: [{
			label: 'Restore',
			action: function (path) {
				// Format expected: map.2021-04-14_21.09.58.tar.bz2
				let [server, ...part] = path.split('.')
				// Format: 21.09.58
				backup_timestamp = part[0].substr(-2) + '.' + part.slice(1,3).join('.')
				if (server.split('/')[1] == 'ragnarok') {
					var reggie = /(\d{4})-(\d{2})-(\d{2})_(\d{2}).(\d{2}).(\d{2})/
					var [, year, month, day, hours, minutes, seconds] = reggie.exec(path.split('.').slice(1,4).join('.'))
					var backup_datetime = new Date(year, month-1, day, hours, minutes, seconds).toLocaleString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric", hour:"numeric", minute:"numeric"});
					console.log('Backup created: ' + backup_datetime)
					var answer = prompt('WARNING: Stop server before trying to restore from backup!!!\n\nAre you sure you want to restore:\n' + path.split('/')[1] + '\nCreated: ' + backup_datetime + '\n\nTo confirm, enter the time part of the backup filename\nExpected format: HH.MM.SS\n(E.g. for "ragnarok.2021-04-14_21.09.58.tar.bz2", enter "21.09.58")');
					console.log(answer)
					if (answer == backup_timestamp) {
						run(path, server_host, server_port);
					} else {
						alert('Backup timestamp does not match, refusing to restore\nExpected: ' + backup_timestamp + '\nReceived: ' + answer)
						console.log('Backup timestamp does not match, refusing to restore')
					}
				} else {
					console.log('Server backup for map `' + server + '` ('+server+'.'+path+') ignored')
				}
			}
		}]
	});


	// Backup list JSON format example:
	// [
	// 	{
	// 		"type": "directory",
	// 		"name": "/home/steam/ARK-Backups/",
	// 		"contents": [
	// 		{
	// 			"type": "directory",
	// 			"name": "2021-04-14",
	// 			"contents": [
	// 			{
	// 				"type": "file",
	// 				"name": "ragnarok.2021-04-14_21.09.58.tar.bz2"
	// 			},
	// 			{
	// 				"type": "file",
	// 				"name": "ragnarok.2021-04-14_22.00.02.tar.bz2"
	// 			},
	// 			{
	// 				"type": "file",
	// 				"name": "ragnarok.2021-04-14_23.28.54.tar.bz2"
	// 			}
	// 			]
	// 		},

	let xhr2 = new XMLHttpRequest();

    // Making our connection
    xhr2.open("GET", 'http://' + server_host + ':' + server_port + '/hooks/ark-backup-list', true);

    // function execute after request is successful
    xhr2.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
			let backup_list = JSON.parse(this.responseText);
			// console.log(JSON.stringify(backup_list, null, 4));

            backup_list[0]["contents"].forEach(function(item) {
				if (item.type == 'directory') {
					if (item.contents.length > 0) {
						tree.add({
							label: item.name,
							id: item.name
						});
						item.contents.forEach(function(item2) {
							if (item2.type == 'file') {
								tree.add({
									label: item2.name,
									id: item.name + '/' + item2.name,
									parent: item.name
								});
							}
						});
					} else {
						// console.log('[Error] Encountered directory with no files: ' + item.name);
					}
				} else {
					console.log('[Error] Encountered file where only dated directories of backups should be: ' + item.name);
				}
			});

			// tree.add({
			// 	label: 'Label A',
			// 	id: 'a',
			// 	opened: true
			// });

			// tree.add({
			// 	label: 'Label B',
			// 	id: 'b'
			// });

			// tree.add({
			// 	label: 'Label A.A',
			// 	parent: 'a',
			// 	id: 'a.a',
			// 	opened: true,
			// 	selected: true
			// });

			// tree.add({
			// 	label: 'Label A.A.A',
			// 	parent: 'a.a'
			// });

			// tree.add({
			// 	label: 'Label A.A.B',
			// 	parent: 'a.a'
			// });

			// tree.add({
			// 	label: 'Label B.A',
			// 	parent: 'b'
			// });
        }
    }
    // Sending our request
    xhr2.send();


</script>

{% endblock extra_js %}

