<ul class="nav pcoded-inner-navbar ">

    <li class="nav-item"><a href="/dashboard/" class="nav-link"><span
      class="pcoded-micon"><i class="feather icon-home"></i></span><span
      class="pcoded-mtext">Dashboard</span></a></li>

    <li data-username="servers Ragnarok The-Island Valguero" class="nav-item pcoded-hasmenu">
      <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
          class="pcoded-mtext">Servers</span></a>
      <ul class="pcoded-submenu">
        <li><a href="#">Ragnarok</a></li>
        <li><a href="#">The Island</a></li>
        <li><a href="#">Valguero</a></li>
      </ul>
    </li>
    <li class="nav-item"><a href="#" class="nav-link"><span
      class="pcoded-micon"><i class="feather icon-copy"></i></span><span
      class="pcoded-mtext">Backups</span></a></li>
    <li class="nav-item"><a href="#" class="nav-link"><span
      class="pcoded-micon"><i class="feather icon-refresh-ccw"></i></span><span
      class="pcoded-mtext">Restore</span></a></li>
</ul>